strong {
  font-weight: bold;
}

/* =============================================================================
armg_lpheader style
========================================================================== */
@media screen and (max-width: 640px) {
  .armg_lpheader .inner {
    width: auto;
    margin: 0 auto;
  }
  .armg_lpheader .armg_lpheader_hgroup {
    position: relative;
    height: 60px;
    background-color: #f5f6f9;
  }
  .armg_lpheader .armg_lpheader_logo {
    display: table;
    width: 100%;
    width: calc(100% - 70px);
    height: 60px;
    font-weight: bold;
  }
  .armg_lpheader .armg_lpheader_logo_detail {
    display: table-cell;
    padding: 0 0 0 15px;
    text-align: left;
    vertical-align: middle;
  }
  .armg_lpheader .armg_lpheader_logo_detail img {
    width: 155px;
  }
  .armg_lpheader .armg_lpheader_nav {
    display: none;
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    background-color: #f5f6f9;
    border-top: 1px solid #d6d8e0;
  }
  .armg_lpheader .armg_lpheader_item {
    border-bottom: 1px solid #d6d8e0;
    text-align: center;
  }
  .armg_lpheader .armg_lpheader_item a {
    display: block;
    padding: 15px 15px;
    color: #404040;
    font-weight: bold;
    line-height: 1;
  }
  .armg_lpheader .armg_lpheader_item .logo {
    display: block;
    width: 62.5vw;
    margin: 0 auto;
  }
  .armg_lpheader .armg_lpheader_item .tel {
    padding: 10px 15px;
  }
  .armg_lpheader .armg_lpheader_item .tel a {
    display: block;
    padding: 0;
    font-size: 2.1rem;
    line-height: 1.2;
  }
  .armg_lpheader .armg_lpheader_item .tel p {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.2;
  }
  .armg_lpheader .armg_lpheader_logo span {
    color: #064f9f;
  }
}

@media screen and (max-width: 640px) {
  .armg_main {
    overflow: hidden;
  }
}

/* =============================================================================
sample
========================================================================== */
@media screen and (max-width: 640px) {
  .mv--bg01 {
    padding: 3.4375vw 0 12.5vw;
    background: url(../img/mv_bg01_sp.png) top center/100% no-repeat, #f0e9d9;
  }
  .mv .mv__lead {
    position: relative;
    height: 16.09375vw;
    padding-top: 1.5625vw;
    border-radius: 2.34375vw;
    background-color: #453112;
    font-size: 4.0625vw;
    line-height: 1.43;
    letter-spacing: 0.05em;
    text-align: center;
  }
  .mv .mv__lead::before {
    content: "";
    display: block;
    position: absolute;
    top: 2.34375vw;
    left: 4.6875vw;
    width: 4.375vw;
    height: 4.375vw;
    background: url(../img/fea_circle01.png) top center/contain no-repeat;
  }
  .mv .mv__lead .big {
    font-size: 4.6875vw;
  }
  .mv .mv__ttl01 {
    margin-top: 37.5vw;
  }
  .mv .mv__ttl01 .txt {
    display: block;
    font-size: 4.6875vw;
    line-height: 1.5;
    text-align: center;
  }
  .mv .mv__ttl01 .img {
    display: block;
    margin-top: 2.34375vw;
  }
  .mv .mv__box {
    margin-top: 3.125vw;
    border-radius: 3.125vw;
    background-color: #fff;
  }
  .mv .mv__top {
    position: relative;
    z-index: 1;
    padding: 2.65625vw;
    border-radius: 3.125vw 3.125vw 0 0;
    background-color: #66a500;
    font-size: 3.90625vw;
    line-height: 1;
  }
  .mv .mv__top .big {
    font-size: 4.84375vw;
  }
  .mv .mv__top::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    bottom: -1.875vw;
    left: 50%;
    transform: translateX(-50%);
    width: 6.25vw;
    height: 6.25vw;
    background: url(../img/fea_triangle01.png) top center/contain no-repeat;
  }
  .mv .mv__low {
    display: flex;
    padding: 4.6875vw 4.6875vw;
    padding-right: 1.5625vw;
  }
  .mv .mv__img02 {
    width: 33.75vw;
    margin-right: 6.25vw;
  }
  .mv .mv__item {
    position: relative;
    margin-top: 1.09375vw;
    padding-left: 6.25vw;
    font-size: 3.4375vw;
    letter-spacing: 0.06em;
  }
  .mv .mv__item::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 4.0625vw;
    height: 4.0625vw;
  }
  .mv .mv__item:nth-child(1)::after {
    background: url(../img/mv_icon01.png) top center/contain no-repeat;
  }
  .mv .mv__item:nth-child(2)::after {
    background: url(../img/mv_icon02.png) top center/contain no-repeat;
  }
  .mv .mv__item:nth-child(3)::after {
    background: url(../img/mv_icon03.png) top center/contain no-repeat;
  }
  .mv .mv__btn01 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15.625vw;
    margin: 5.46875vw auto 0;
    border-radius: 7.8125vw;
    box-shadow: 0.75vw 1vw 3.5625vw 0.1875vw rgba(135, 129, 116, 0.2);
    background-color: #3a77b4;
    font-size: 4.6875vw;
    letter-spacing: 0.08em;
    color: #fff;
  }
  .mv .mv__btn01::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 3.125vw;
    transform: translateY(-50%);
    width: 7.8125vw;
    height: 7.8125vw;
    background: url(../img/mv_arrow01.png) top center/contain no-repeat;
  }
  .mv .mv__note {
    margin-top: 4.6875vw;
    font-size: 3.4375vw;
    line-height: 1.64;
  }
  .mv .mv__note .link {
    display: inline-block;
    line-height: 1;
    border-bottom: 1px solid #3a77b4;
  }
  .mv .mv__img03 {
    width: 80.9375vw;
    margin: 7.03125vw auto 0;
  }
  .mv .mv__list02 {
    margin-top: 6.25vw;
  }
  .mv .mv__item02 {
    margin-top: 0.625vw;
    padding-left: 4.6875vw;
    text-indent: -4.6875vw;
    font-size: 2.8125vw;
    font-weight: 500;
    line-height: 1.67;
  }
}

/* =============================================================================
sample
========================================================================== */
@media screen and (max-width: 640px) {
  .had--bg {
    padding: 10.9375vw 0 31.25vw;
    background-color: #faf4ea;
  }
  .had .had__ttl01 {
    font-size: 4.375vw;
    line-height: 1.67;
    letter-spacing: 0;
  }
  .had .had__ttl01 .small {
    font-size: 4.0625vw;
  }
  .had .had__ttl01 .big {
    display: inline-block;
    margin-right: 0.78125vw;
    padding: 1.5625vw;
    font-size: 5.3125vw;
    border-radius: 0.46875vw;
    background-color: #66a500;
    letter-spacing: 0.05em;
    line-height: 1;
  }
  .had .had__list {
    margin-top: 7.03125vw;
  }
  .had .had__item {
    position: relative;
    display: flex;
    align-items: center;
    height: 32.34375vw;
    margin-top: 4.6875vw;
    padding-left: 28.125vw;
    border-radius: 3.125vw;
    background: url(../img/had_bg03_sp.png) top center/cover no-repeat;
  }
  .had .had__img01 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 9.375vw;
  }
  .had .had__img01--num01 {
    left: 8.59375vw;
    width: 13.90625vw;
  }
  .had .had__img01--num02 {
    width: 12.5vw;
  }
  .had .had__img01--num03 {
    width: 11.71875vw;
  }
  .had .had__txt01 {
    font-size: 4.375vw;
    line-height: 1.61;
    text-align: left;
  }
  .had .had__comment {
    position: absolute;
    top: -4.6875vw;
    right: -4.0625vw;
    width: 26.875vw;
    height: 20.625vw;
    padding-top: 5vw;
    font-size: 3.125vw;
    line-height: 1.15;
    background: url(../img/had_bg01.png) top center/cover no-repeat;
  }
  .had .had__ttl02 {
    position: relative;
    margin-top: 9.375vw;
    font-size: 4.375vw;
    line-height: 1.8;
  }
  .had .had__ttl02::after {
    content: "";
    display: block;
    position: absolute;
    top: -9.375vw;
    left: 50%;
    transform: translateX(-50%);
    width: 4.6875vw;
    height: 5.3125vw;
    background: url(../img/had_arrow01.png) top center/contain no-repeat;
  }
  .had .had__ttl02 .green {
    font-size: 5.625vw;
  }
  .had .had__img02 {
    margin-top: 6.25vw;
  }
}

/* =============================================================================
inf
========================================================================== */
@media screen and (max-width: 640px) {
  .inf--bg {
    position: relative;
    z-index: 2;
    margin-top: -15.625vw;
    padding: 17.1875vw 0 15.625vw;
    background: url(../img/inf_bg01_sp.png) top center/100% no-repeat, #e2dcd2;
  }
  .inf .inf__ttl01 {
    font-size: 5vw;
    line-height: 1.6;
  }
  .inf .inf__ttl01 .bg {
    display: inline-block;
    padding: 1.5625vw;
    font-size: 5.3125vw;
    border-radius: 0.46875vw;
    background-color: #453112;
    line-height: 1.2;
  }
  .inf .inf__img01 {
    margin-top: 6.25vw;
  }
  .inf .cta__box {
    margin-top: 12.5vw;
  }
}

/* =============================================================================
imp
========================================================================== */
@media screen and (max-width: 640px) {
  .imp--bg {
    position: relative;
    z-index: 1;
    margin-top: -43.75vw;
    padding: 57.8125vw 0 15.625vw;
    background: url(../img/imp_bg01_sp.png) top center/100% no-repeat;
  }
  .imp--bg::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 20%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #faf4ea;
  }
  .imp .imp__ttl01 .lead {
    display: block;
    position: relative;
    font-size: 4.6875vw;
    letter-spacing: 0.08em;
    line-height: 1;
  }
  .imp .imp__ttl01 .lead .big {
    font-size: 5.625vw;
  }
  .imp .imp__ttl01 .lead::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -2.34375vw;
    left: 50%;
    transform: translateX(-50%);
    width: 27.34375vw;
    height: 0.625vw;
    background-color: #453112;
  }
  .imp .imp__ttl01 .txt {
    display: block;
    margin-top: 3.90625vw;
    font-size: 4.375vw;
    line-height: 1.4;
    letter-spacing: 0.06em;
  }
  .imp .imp__ttl01 .green {
    font-size: 5.625vw;
  }
  .imp .imp__img01 {
    margin-top: 7.03125vw;
  }
}

/* =============================================================================
sample
========================================================================== */
/* =============================================================================
sample
========================================================================== */
/* =============================================================================
sample
========================================================================== */
/* =============================================================================
sample
========================================================================== */
/* =============================================================================
sample
========================================================================== */
/* =============================================================================
sample
========================================================================== */
/* =============================================================================
sample
========================================================================== */
/* =============================================================================
sample
========================================================================== */
/* =============================================================================
cta
========================================================================== */
@media screen and (max-width: 640px) {
  .cta--bg {
    padding: 12.5vw 0;
    background: #c3da9c;
  }
  .cta .cta__box {
    position: relative;
    z-index: 2;
    padding: 9.375vw 0 10.9375vw;
    border-radius: 9.375vw;
    background-color: #fff;
  }
  .cta .cta__ttl01 {
    font-size: 4.6875vw;
  }
  .cta .cta__ttl01 .big {
    font-size: 5.625vw;
  }
  .cta .cta__img01 {
    width: 78.125vw;
    margin: 4.6875vw auto 0;
  }
  .cta .cta__btn01 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 84.375vw;
    height: 15.625vw;
    margin: 7.8125vw auto 0;
    border-radius: 7.8125vw;
    box-shadow: 0.75vw 1vw 3.5625vw 0.1875vw rgba(135, 129, 116, 0.2);
    background-color: #3a77b4;
    font-size: 4.6875vw;
    letter-spacing: 0.08em;
    color: #fff;
  }
  .cta .cta__btn01::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 3.125vw;
    transform: translateY(-50%);
    width: 7.8125vw;
    height: 7.8125vw;
    background: url(../img/mv_arrow01.png) top center/contain no-repeat;
  }
}
