@function get_vw($size, $viewport: 640) {
    $rate: 100 / $viewport;
    @return $rate * $size * 1vw;
}

@mixin fz_vw($font_size: 10) {
    font-size: get_vw($font_size);
}
strong {
    font-weight: bold;
}
/* =============================================================================
armg_lpheader style
========================================================================== */
@media screen and (max-width: 640px) {
    .armg_lpheader {
        .inner {
            width: auto;
            margin: 0 auto;
        }
        .armg_lpheader {
            &_hgroup {
                position: relative;
                height: 60px;
                background-color: #f5f6f9;
            }
            &_logo {
                display: table;
                width: 100%;
                width: calc(100% - 70px);
                height: 60px;
                font-weight: bold;
                &_detail {
                    display: table-cell;
                    padding: 0 0 0 15px;
                    text-align: left;
                    vertical-align: middle;
                    img {
                        width: 155px;
                    }
                }
            }
            &_nav {
                display: none;
                position: absolute;
                left: 0;
                top: 60px;
                width: 100%;
                background-color: #f5f6f9;
                border-top: 1px solid #d6d8e0;
            }
            &_item {
                border-bottom: 1px solid #d6d8e0;
                text-align: center;
                a {
                    display: block;
                    padding: 15px 15px;
                    color: #404040;
                    font-weight: bold;
                    line-height: 1;
                }

                .logo {
                    display: block;
                    width: 400/640 * 100vw;
                    margin: 0 auto;
                }
                .tel {
                    padding: 10px 15px;
                    a {
                        display: block;
                        padding: 0;
                        font-size: 2.1rem;
                        line-height: 1.2;
                    }
                    p {
                        font-size: 1.2rem;
                        font-weight: bold;
                        line-height: 1.2;
                    }
                }
            }
            &_logo {
                span {
                    color: #064f9f;
                }
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .armg_main {
        overflow: hidden;
    }
}

/* =============================================================================
sample
========================================================================== */
@media screen and (max-width: 640px) {
    .mv {
        &--bg01 {
            padding: 22/640 * 100vw 0 80/640 * 100vw;
            background: url(../img/mv_bg01_sp.png) top center/ 100% no-repeat,
                #f0e9d9;
        }
        .mv {
            &__inner {
            }
            &__wrap {
            }
            &__left {
            }
            &__lead {
                position: relative;
                height: 103/640 * 100vw;
                padding-top: 10/640 * 100vw;
                border-radius: 15/640 * 100vw;
                background-color: #453112;
                font-size: 26/640 * 100vw;
                line-height: 1.43;
                letter-spacing: 0.05em;
                text-align: center;
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 15/640 * 100vw;
                    left: 30/640 * 100vw;
                    width: 28/640 * 100vw;
                    height: 28/640 * 100vw;
                    background: url(../img/fea_circle01.png) top center/ contain
                        no-repeat;
                }
                .big {
                    font-size: 30/640 * 100vw;
                }
            }
            &__ttl01 {
                margin-top: 240/640 * 100vw;
                .txt {
                    display: block;
                    font-size: 30/640 * 100vw;
                    line-height: 1.5;
                    text-align: center;
                }
                .img {
                    display: block;
                    margin-top: 15/640 * 100vw;
                }
            }
            &__box {
                margin-top: 20/640 * 100vw;
                border-radius: 20/640 * 100vw;
                background-color: #fff;
            }
            &__top {
                position: relative;
                z-index: 1;
                padding: 17/640 * 100vw;
                border-radius: 20/640 * 100vw 20/640 * 100vw 0 0;
                background-color: #66a500;
                font-size: 25/640 * 100vw;
                line-height: 1;
                .big {
                    font-size: 31/640 * 100vw;
                }
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    z-index: -1;
                    bottom: -12/640 * 100vw;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 40/640 * 100vw;
                    height: 40/640 * 100vw;
                    background: url(../img/fea_triangle01.png) top center/
                        contain no-repeat;
                }
            }
            &__low {
                display: flex;
                padding: 30/640 * 100vw 30/640 * 100vw;
                padding-right: 10/640 * 100vw;
            }
            &__img02 {
                width: 216/640 * 100vw;
                margin-right: 40/640 * 100vw;
            }
            &__list {
            }
            &__item {
                position: relative;
                margin-top: 7/640 * 100vw;
                padding-left: 40/640 * 100vw;
                font-size: 22/640 * 100vw;
                letter-spacing: 0.06em;
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    width: 26/640 * 100vw;
                    height: 26/640 * 100vw;
                }
                &:nth-child(1) {
                    &::after {
                        background: url(../img/mv_icon01.png) top center/
                            contain no-repeat;
                    }
                }
                &:nth-child(2) {
                    &::after {
                        background: url(../img/mv_icon02.png) top center/
                            contain no-repeat;
                    }
                }
                &:nth-child(3) {
                    &::after {
                        background: url(../img/mv_icon03.png) top center/
                            contain no-repeat;
                    }
                }
            }
            &__btn01 {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100/640 * 100vw;
                margin: 35/640 * 100vw auto 0;
                border-radius: 50/640 * 100vw;
                box-shadow: 4.8/640 * 100vw 6.4/640 * 100vw 22.8/640 * 100vw 1.2/640 *
                    100vw rgba(135, 129, 116, 0.2);
                background-color: #3a77b4;
                font-size: 30/640 * 100vw;
                letter-spacing: 0.08em;
                color: #fff;
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 50%;
                    right: 20/640 * 100vw;
                    transform: translateY(-50%);
                    width: 50/640 * 100vw;
                    height: 50/640 * 100vw;
                    background: url(../img/mv_arrow01.png) top center/ contain
                        no-repeat;
                }
            }
            &__note {
                margin-top: 30/640 * 100vw;
                font-size: 22/640 * 100vw;
                line-height: 1.64;
                .link {
                    display: inline-block;
                    line-height: 1;
                    border-bottom: 1px solid #3a77b4;
                }
            }
            &__right {
            }
            &__img01 {
            }
            &__img03 {
                width: 518/640 * 100vw;
                margin: 45/640 * 100vw auto 0;
            }
            &__list02 {
                margin-top: 40/640 * 100vw;
            }
            &__item02 {
                margin-top: 4/640 * 100vw;
                padding-left: 30/640 * 100vw;
                text-indent: -30/640 * 100vw;
                font-size: 18/640 * 100vw;
                font-weight: 500;
                line-height: 1.67;
            }
        }
    }
}

/* =============================================================================
sample
========================================================================== */
@media screen and (max-width: 640px) {
    .had {
        &--bg {
            padding: 70/640 * 100vw 0 200/640 * 100vw;
            background-color: #faf4ea;
        }
        .had {
            &__ttl01 {
                font-size: 28/640 * 100vw;
                line-height: 1.67;
                letter-spacing: 0;
                .small {
                    font-size: 26/640 * 100vw;
                }
                .big {
                    display: inline-block;
                    margin-right: 5/640 * 100vw;
                    padding: 10/640 * 100vw;
                    font-size: 34/640 * 100vw;
                    border-radius: 3/640 * 100vw;
                    background-color: #66a500;
                    letter-spacing: 0.05em;
                    line-height: 1;
                }
            }
            &__list {
                margin-top: 45/640 * 100vw;
            }
            &__item {
                position: relative;
                display: flex;
                align-items: center;
                height: 207/640 * 100vw;
                margin-top: 30/640 * 100vw;
                padding-left: 180/640 * 100vw;
                border-radius: 20/640 * 100vw;
                background: url(../img/had_bg03_sp.png) top center/ cover
                    no-repeat;
            }
            &__img01 {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 60/640 * 100vw;
                &--num01 {
                    left: 55/640 * 100vw;
                    width: 89/640 * 100vw;
                }
                &--num02 {
                    width: 80/640 * 100vw;
                }
                &--num03 {
                    width: 75/640 * 100vw;
                }
            }
            &__txt01 {
                font-size: 28/640 * 100vw;
                line-height: 1.61;
                text-align: left;
            }
            &__comment {
                position: absolute;
                top: -30/640 * 100vw;
                right: -26/640 * 100vw;
                width: 172/640 * 100vw;
                height: 132/640 * 100vw;
                padding-top: 32/640 * 100vw;
                font-size: 20/640 * 100vw;
                line-height: 1.15;
                background: url(../img/had_bg01.png) top center/ cover no-repeat;
            }

            &__ttl02 {
                position: relative;
                margin-top: 60/640 * 100vw;
                font-size: 28/640 * 100vw;
                line-height: 1.8;
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: -60/640 * 100vw;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 30/640 * 100vw;
                    height: 34/640 * 100vw;
                    background: url(../img/had_arrow01.png) top center/ contain
                        no-repeat;
                }
                .green {
                    font-size: 36/640 * 100vw;
                }
            }

            &__img02 {
                margin-top: 40/640 * 100vw;
            }
        }
    }
}

/* =============================================================================
inf
========================================================================== */
@media screen and (max-width: 640px) {
    .inf {
        &--bg {
            position: relative;
            z-index: 2;
            margin-top: -100/640 * 100vw;
            padding: 110/640 * 100vw 0 100/640 * 100vw;
            background: url(../img/inf_bg01_sp.png) top center/ 100% no-repeat,
                #e2dcd2;
        }
        .inf {
            &__ttl01 {
                font-size: 32/640 * 100vw;
                line-height: 1.6;
                .bg {
                    display: inline-block;
                    padding: 10/640 * 100vw;
                    font-size: 34/640 * 100vw;
                    border-radius: 3/640 * 100vw;
                    background-color: #453112;
                    line-height: 1.2;
                }
            }
            &__img01 {
                margin-top: 40/640 * 100vw;
            }
        }
        .cta__box {
            margin-top: 80/640 * 100vw;
        }
    }
}

/* =============================================================================
imp
========================================================================== */
@media screen and (max-width: 640px) {
    .imp {
        &--bg {
            position: relative;
            z-index: 1;
            margin-top: -280/640 * 100vw;
            padding: 370/640 * 100vw 0 100/640 * 100vw;
            background: url(../img/imp_bg01_sp.png) top center/ 100% no-repeat;
            &::after {
                content: "";
                display: block;
                position: absolute;
                z-index: -1;
                width: 100%;
                height: 20%;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                background: #faf4ea;
            }
        }
        .imp {
            &__ttl01 {
                .lead {
                    display: block;
                    position: relative;
                    font-size: 30/640 * 100vw;
                    letter-spacing: 0.08em;
                    line-height: 1;
                    .big {
                        font-size: 36/640 * 100vw;
                    }
                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        bottom: -15/640 * 100vw;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 175/640 * 100vw;
                        height: 4/640 * 100vw;
                        background-color: #453112;
                    }
                }
                .txt {
                    display: block;
                    margin-top: 25/640 * 100vw;
                    font-size: 28/640 * 100vw;
                    line-height: 1.4;
                    letter-spacing: 0.06em;
                }
                .green {
                    font-size: 36/640 * 100vw;
                }
            }
            &__img01 {
                margin-top: 45/640 * 100vw;
            }
        }
    }
}

/* =============================================================================
sample
========================================================================== */
@media screen and (max-width: 640px) {
}

/* =============================================================================
sample
========================================================================== */
@media screen and (max-width: 640px) {
}

/* =============================================================================
sample
========================================================================== */
@media screen and (max-width: 640px) {
}

/* =============================================================================
sample
========================================================================== */
@media screen and (max-width: 640px) {
}

/* =============================================================================
sample
========================================================================== */
@media screen and (max-width: 640px) {
}

/* =============================================================================
sample
========================================================================== */
@media screen and (max-width: 640px) {
}

/* =============================================================================
sample
========================================================================== */
@media screen and (max-width: 640px) {
}

/* =============================================================================
sample
========================================================================== */
@media screen and (max-width: 640px) {
}

/* =============================================================================
cta
========================================================================== */
@media screen and (max-width: 640px) {
    .cta {
        &--bg {
            padding: 80/640 * 100vw 0;
            background: #c3da9c;
        }
        .cta {
            &__box {
                position: relative;
                z-index: 2;
                padding: 60/640 * 100vw 0 70/640 * 100vw;
                border-radius: 60/640 * 100vw;
                background-color: #fff;
            }
            &__ttl01 {
                font-size: 30/640 * 100vw;
                .big {
                    font-size: 36/640 * 100vw;
                }
            }
            &__img01 {
                width: 500/640 * 100vw;
                margin: 30/640 * 100vw auto 0;
            }
            &__btn01 {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 540/640 * 100vw;
                height: 100/640 * 100vw;
                margin: 50/640 * 100vw auto 0;
                border-radius: 50/640 * 100vw;
                box-shadow: 4.8/640 * 100vw 6.4/640 * 100vw 22.8/640 * 100vw 1.2/640 *
                    100vw rgba(135, 129, 116, 0.2);
                background-color: #3a77b4;
                font-size: 30/640 * 100vw;
                letter-spacing: 0.08em;
                color: #fff;
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 50%;
                    right: 20/640 * 100vw;
                    transform: translateY(-50%);
                    width: 50/640 * 100vw;
                    height: 50/640 * 100vw;
                    background: url(../img/mv_arrow01.png) top center/ contain
                        no-repeat;
                }
            }
        }
    }
}
